<!DOCTYPE html>
<html>
<head>
  <title>QuizOne</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', root_path, :class => 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to new_link_path, :data => {:toggle => 'modal', :target => '#myModal'} do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            Submit a Link
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submit a Link</h4>
      </div>
      <%= simple_form_for Link.new do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
          <br />
          <%= f.input :url %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Submit', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if flash[:success].present? %>
  <div class="col-xs-10 col-xs-offset-1 alert alert-success">
    <%= flash[:success] %>
  </div>
  <br class="clear-both" />
<% end %>
<% if flash[:error].present? %>
  <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
    <%= flash[:error] %>
  </div>
  <br class="clear-both" />
<% end %>

<div class="text-center app-title">
  <h1>Basic Link Aggregator</h1>
</div>

<br />

<%= yield %>

</body>
</html>
